@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;

}

img {
  width: 600px;

}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
}

.header {
  display: flex;
  
}

ul {
  display: flex;
  list-style-type: none;
}
.right-links {
  margin-left: auto;
  padding-right: 10px;
}
li {
  padding: 13px;
}
a {
  text-decoration: none;
  color: black;
}
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-top: 100px;
}
.content > * {
  padding: 7px;
}
.footer {
  background-color: #cccaca;
  color: white;
  text-align: center;
  padding: 16px;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
}
